<% if @recipe.photo.attached? %>
  <%= image_tag @recipe.photo %>
<% end %>
<h2><%= @recipe.title %></h2>
<h3>Detalhes</h3>
<p><%= @recipe.recipe_type.name %></p>
<p><%= @recipe.cuisine.name %></p>
<p><%= @recipe.difficulty %></p>
<p><%= @recipe.cook_time_min %></p>
<h3>Ingredientes</h3>
<p><%= @recipe.ingredients %></p>
<h3>Como Preparar</h3>
<p><%= @recipe.cook_method %></p>

<%= link_to 'Editar', edit_recipe_path, class: 'btn btn-primary' %>
<%= link_to "Excluir", recipe_path(@recipe), data: {
      confirm: "Are you sure you want to delete?"
    }, method: :delete, class: 'btn btn-primary' %>
<%= link_to 'Voltar', root_path, class: 'btn btn-secondary' %>